.answers {
  /* margin: auto; */
  overflow: auto;
}

.answer-container {
  width: 95%;
  margin: auto;
  text-align: center;
}

.answer-box {
  box-sizing: border-box;
  padding: 30px;
  max-width: 32%;
  display: inline-block;
  text-align: center;
  border: 1px solid black;
  margin: 0 5px;
}

.question-section p {
  text-align: center;
  font-size: 50px;
}

#drag-answer-section {
  border: 1px solid black;
  width: 80%;
  margin: 50px auto;
  height: 200px;
  text-align: center;
}

.hidden {
  display: none;
}
